<section [ngClass]="{'loading': !taskList.length}"> 
    <!--Quando  lista está vazia, a classe loading deve aparecer
    Se ela tiver valor, deve mostrar a lista sem a classe loading-->

    <ul *ngIf="taskList.length">
        <li *ngFor="let item of taskList; let i = index"> 
            <!--para cada item do array taskList,
        deve ser criado um input do tipo checkbox e um input do tipo texto-->
            <input type="checkbox" [(ngModel)]="item.checked">
            <input type="text" [(ngModel)]="item.task">

            <button (click)="deleteItemTaskList(i)"> 
                <!--evento para usar o splice no item de índice i-->
                <img src='../../../../../assets/icons/icon-trash.svg'>
            </button>

            <!--{{item | json}}-->
        </li>
    </ul>

</section>

<app-to-do-input-add-itens></app-to-do-input-add-itens>
<app-to-do-button-delete-all *ngIf="taskList.length"></app-to-do-button-delete-all>
<!--o botão delete all só aparece se a lista estiver vazia-->
